.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .mt-3 {
    margin-top: 20px;
  }
  
  .mb-2 {
    margin-bottom: 10px;
  }
  
  .mb-4 {
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-primary:focus {
    outline: none;
    box-shadow: none;
  }
  